@*
    Partial view cho Post List Row - Có thể tái sử dụng
    Usage: @foreach (var post in Model.Posts) {
        @await Html.PartialAsync("_Shared/_PostListRow", post)
    }
*@
@using CMS_2026.Common
@model dynamic

@{
    var post = Model;
    var showImage = (bool)(ViewData["ShowImage"] ?? true);
    var showFeatured = (bool)(ViewData["ShowFeatured"] ?? true);
    var showViewButton = (bool)(ViewData["ShowViewButton"] ?? true);
    var editUrl = ViewData["EditUrl"] as string ?? $"/admin/post/edit?id={post.Id}";
    var imageUrl = ViewData["ImageUrl"] as string ?? $"/admin/post/image?id={post.Id}";
    var viewUrl = ViewData["ViewUrl"] as string ?? $"/{post.NodePath}";
}

<tr>
    <td>@post.Title</td>
    <td>@(post.CategoryName ?? "")</td>
    <td>@post.CreatedTime.ToString("dd/MM/yyyy")</td>
    @if (showFeatured)
    {
        <td align="center">
            <input type="checkbox"
                   data-plugin="switchery"
                   data-color="#3ec396"
                   @(post.Featured ? "checked" : string.Empty)
                   disabled />
        </td>
    }
    @if (showImage)
    {
        <td align="center">
            <a href="@imageUrl">
                <img src="@(post.ImageUrl ?? "")" 
                     border="0" 
                     title="Upload thêm ảnh" 
                     onerror="this.onerror=null;this.src='@Constants.Admin_Url/assets/images/not_available.png';" 
                     height="50">
            </a>
        </td>
    }
    <td align="center">
        <div class="btn-group btn-group-sm">
            @if (showViewButton && !string.IsNullOrEmpty(post.NodePath))
            {
                <a title="Xem" target="_blank" href="@viewUrl" type="button" class="btn btn-warning">
                    <span class="fa fa-eye"></span>
                </a>
            }
            <a title="Hiệu chỉnh" href="@editUrl" type="button" class="btn btn-warning">
                <span class="mdi mdi-pencil"></span>
            </a>
            <button title="Xóa" type="button" class="btn btn-danger" onclick="deletePost(@post.Id, '@post.Title')">
                <span class="mdi mdi-delete"></span>
            </button>
        </div>
    </td>
</tr>

